<nav class="navbar navbar-expand-lg p-32">
  <h2 class="navbar-brand mb-0" href="#">Assignment</h2>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav d-flex align-items-center flex-grow-1 justify-content-between">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          All Courses
          <span class="ps-2 material-icons text-success"> expand_more </span>
        </a>
        <ul class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </ul>
      </li>
      <li>
        <span class="material-icons me-26 cur-point"> search </span>
        <span class="material-icons cur-point"> notifications_active </span>
      </li>

    </ul>
  </div>
</nav>