<div class="slider d-flex flex-column">
  <h1 class=" mb-32"><a href=""><img src="../assets/images/logo-ANSWER.svg" alt="" /></a></h1>
  <ul class="h-100 list-unstyled fw-bold">
    <li class="mb-4"><a class="d-flex align-items-center" href="#"><i
            class="material-icons">insert_chart</i><span>Dashboard</span></a></li>
    <li class="mb-4"><a class="d-flex align-items-center" href="#"><i
            class="material-icons">forum</i><span>Question</span></a></li>
    <li class="assignment mb-4 active">
      <a class="d-flex align-items-center" href="./index.html"><i
            class="material-icons">assignment</i><span>Assignment</span></a>
    </li>
    <li class="mb-4"><a class="d-flex align-items-center" href="#"><i
            class="material-icons">video_library</i><span>Course</span></a></li>
    <li class="admin mb-4">
      <a class="d-flex align-items-center" href="./admin.html"><i
            class="material-icons">supervisor_account</i><span>Admin</span></a>
    </li>
    <li class="d-flex align-items-center mb-4"><a class="d-flex align-items-center" href="#"><i
            class="material-icons">settings</i><span>Settings</span></a></li>
  </ul>
  <div class="user d-flex mt-auto">
    <img src="../assets/images/andychen.jpeg" alt="">
    <div class="user-info">
      <p class="mb-0 fw-bold">Andy Chen</p>
      <p class="mb-0 ">andy0401@mail.com</p>
    </div>
  </div>
</div>
  





